@import "inputs";
@import "select";
@import 'popup';

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.masterhead {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.btn {
  border: none;
  display: block;
  cursor: pointer;
  opacity: 0.6;
  &-primary {
    border: none;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
      0 4px 8px 3px rgba(60, 64, 67, 0.15);
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 8px 10px;
    border-radius: 55px;
    margin: 16px auto;
    font-weight: 700;
    cursor: pointer;
    background-color: #fff;
  }
  &:hover {
    opacity: 0.87;
  }
}

.icon {
  margin: 5px;
}

main {
  position: relative;
}

.aside {
  position: absolute;
  height: calc(100vh - 100%);
  top: 0;
  bottom: 0;
  width: 280px;
  border-right: 1px solid #ccc;
}

.content {
  margin-left: 280px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  .list-item {
    display: flex;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px 26px;
  }
  .active {
    background-color: rgba(227, 30, 37, 0.1);
    color: rgba(227, 30, 37, 0.87);
    svg {
      fill: rgb(227, 30, 37);
    }
  }
}

table.employes {
  width: 100%;
  thead {
    color: #5f6368;
    th {
      padding: 8px 16px;
    }
  }
  select {
    box-sizing: border-box;
    &:disabled {
      background-color: white;
      border: none;
    }
  }

  .text {
    text-align: left;
  }
  .number {
    text-align: right;
  }
}

a {
  color: black;
  text-decoration: none;
}

.collapsed {
  display: none;
}

.salary{
    align-items: flex-end;
}

input[type="date"] {
  display: block;
  position: relative;
  padding: 1rem 3.5rem .35rem 0.75rem;
  font-size: 120%;

  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-bottom: 1px solid #DDD;;
  border-radius: 0.25rem;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E")
    right 1rem center no-repeat;

  cursor: pointer;
}
input[type="date"]:focus {
  outline: none;
  border-color: #3acfff;
  box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {
}
::-webkit-datetime-edit-fields-wrapper {
}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
  background: rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
  opacity: 0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  cursor: pointer;

  color: rgba(0, 120, 250, 1);
  background: rgba(0, 120, 250, 1);
}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}
input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}

.employes_amount {
  margin-left: auto;
}

.modal-edit-contact {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    max-width: 700px;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    padding: 15px;
    &__body {
      padding: 30px 0;
      .salary {
        display: flex;
        fieldset {
          flex: 1;
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
    }
    header {
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
      .title h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}

.salary{
    align-items: end;
}